<mat-nav-list>
    <div class="logo py-4">
      <img height=175px weight=85px src="../../assets/images/logo-poulina.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"></h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a href="/users" mat-list-item> <mat-icon>edit</mat-icon>Users</a>
    <a href="/contact"  mat-list-item> <mat-icon>edit</mat-icon>Contact</a>
    <a href="/about" mat-list-item> <mat-icon>edit</mat-icon> About</a>
  </mat-nav-list>
  
