<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <iframe class="iframe-container" width="1000" height="1000" title="Report Section" src="https://app.powerbi.com/view?r=eyJrIjoiODE5NTViNTEtMDI5YS00NWU1LTgzMzctMzhhYzBiOWNhZGExIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
    <div class="page__content-data position-absolute text-center">
    </div>
  </div>
</div>
